// Header
.main-header {
    .container {
        display: flex;
        align-items: center;
        .nav {                
            margin-left: auto;
            .nav__list {
                display: flex;
                gap: 2rem;
                .list__item {
                    padding-block: 4rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 0.85rem;
                    border-bottom: 5px solid transparent;                    
                    &.active, &:hover {
                        color: $color-acc;
                        border-bottom-color: $color-acc;
                    }
                    a {
                        color: $color-dark;
                    }
                }
            }
        }
    }
}