@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 0.5rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header .container .nav {
  margin-left: auto;
}

.main-header .container .nav .nav__list {
  display: flex;
  gap: 2rem;
}

.main-header .container .nav .nav__list .list__item {
  padding-block: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85rem;
  border-bottom: 5px solid transparent;
}

.main-header .container .nav .nav__list .list__item.active,
.main-header .container .nav .nav__list .list__item:hover {
  color: #0282F9;
  border-bottom-color: #0282F9;
}

.main-header .container .nav .nav__list .list__item a {
  color: #1C1C1C;
}

