@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 0.5rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.main-header .container {
  display: flex;
  align-items: center;
}
.main-header .container .nav {
  margin-left: auto;
}
.main-header .container .nav .nav__list {
  display: flex;
  gap: 2rem;
}
.main-header .container .nav .nav__list .list__item {
  padding-block: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85rem;
  border-bottom: 5px solid transparent;
}
.main-header .container .nav .nav__list .list__item.active, .main-header .container .nav .nav__list .list__item:hover {
  color: #0282F9;
  border-bottom-color: #0282F9;
}
.main-header .container .nav .nav__list .list__item a {
  color: #1C1C1C;
}

.footer__nav {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__nav .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
  max-height: 500px;
  padding-block: 3rem;
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.list-wrapper .title {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
}
.list-wrapper .nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.list-wrapper .nav__list .list__item a {
  font-size: 0.8rem;
  color: #888;
}

.footer__actions {
  background-color: #303030;
}
.footer__actions .container {
  display: flex;
  align-items: center;
  padding-block: 1.5rem;
}
.footer__actions .cta {
  padding: 1rem;
  border: 2px solid #0282F9;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
}
.footer__actions .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: #0282F9;
  text-transform: uppercase;
}
.footer__actions .socials img {
  cursor: pointer;
}

.main-content {
  background-color: #1C1C1C;
  color: #fff;
}
.main-content .container {
  text-align: center;
}
.main-content .container .load-more {
  padding: 0.8rem 4rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #0282F9;
  color: #fff;
  font-weight: bold;
  font-size: 0.85rem;
}

.hero {
  height: 350px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.cards {
  position: relative;
  padding-block: 3rem;
}
.cards .current-series {
  position: absolute;
  top: 0;
  padding: 0.5rem 1rem;
  transform: translateY(-50%);
  background-color: #0282F9;
  text-transform: uppercase;
  font-weight: bold;
}
.cards .cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1.5rem;
  padding-inline: 1rem;
}
.cards .cards__list .list__item {
  flex-basis: calc((100% - 7.5rem) / 6);
}
.cards .cards__list .list__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.card {
  text-align: left;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}
.card .card__img {
  margin-bottom: 1rem;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.card .title {
  text-transform: uppercase;
  color: #bbb;
}
.card:hover {
  transform: scale(1.02);
}

.main-sidebar {
  background-color: #0282F9;
  color: #fff;
  padding-block: 3rem;
}
.main-sidebar .aside__list {
  display: flex;
  justify-content: space-around;
}
.main-sidebar .aside__list .list__item {
  flex-basis: 15%;
}

.aside__list a {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.aside__list a img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 1rem;
}