$color-acc: #0282F9;
$color-acc_light: #24afff;
$color-dark: #1C1C1C;
$color-white: #fff;
$color-dark_blue: #263F5E;
$color-dark_green: #55BA59;
$color-light_green: #9AF999;
$color-light_grey: #F6F6F6;
$color-dark-grey: rgba($color: $color-dark, $alpha: 0.6);